 /*
  CSS file for Project 1
*/

body {
  text-align: center;
  background-color: #ddf;
  margin: 50px 70px;
  padding: 0em 15em;
}
p {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}
h1,h2 {
  font-family: 'Righteous', cursive;
  color: #222;
  font-weight: 600;
}
